[user]
   name = Jacob Bohanon
   email = jacobbohanon@gmail.com
[url "ssh://git@github.com/"]
        insteadOf = https://github.com/
[tag]
	sort = version:refname
[init]
	defaultBranch = main
[pull]
	rebase = false
[color]
	ui = auto
