[user]
   name = Jacob Bohanon
	email = jacob.bohanon@solo.io
[url "ssh://git@github.com/"]
        insteadOf = https://github.com/
[tag]
	sort = version:refname
[init]
	defaultBranch = main
[pull]
	rebase = false
[color]
	ui = auto
